{% extends '::base.html.twig' %}
{% block title %}Catálogo{% endblock %}
{% block active3 %}class="active"{% endblock active3 %}
{% block body %}
    <div class="content">
        <div class="container">

            <!---->
            <div class="products_top" style="margin: 0 auto 0 auto; float: right;">

                <div class="col-md-12 price-on" style="margin: 0 auto 0 auto;">
                    <!---->
                    <div class="mens-toolbar">
                        <div class="sort">
                            <div class="sort-by">
                                <label>Sort by</label>
                                <select>
                                    <option value="">
                                        Position                </option>
                                    <option value="">
                                        Name                </option>
                                    <option value="">
                                        Price                </option>
                                </select>
                                <a href=""><img src="{{ asset('images/arrow2.gif') }}" alt="" class="v-middle"></a>
                            </div>
                        </div>
                        <div class="pages">
                            <div class="limiter visible-desktop">
                                <label>Mostrando 1-12 de 54 resultados</label>
                            </div>
                            <ul class="dc_pagination dc_paginationA dc_paginationA06">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" class="current"></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!---->
                    <div class="product_box1">
                        <div class="col-md-4 grid-4 grid-in" style="margin: 0 auto 0 auto;">
                            <a href="">
                                <img src="{{ asset('images/po4.jpg') }}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 grid-4 grid-in" style="align-content: center">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg') }}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1" s>
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 grid-4 grid-in">
                            <a href="#">
                                <img src="{{ asset('images/po4.jpg')}}" class="img-responsive" alt="">
                            </a>
                            <div class="tab_desc1">
                                <h3><a href="#">Nombre Producto</a></h3>
                                <p>$0.00</p>
                                {% if user %}
                                    <a href="#" class="to-cart"><span>Añadir a Carrito</span><img src="{{ asset('images/plus.png') }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!---->
                    <div class="pages">
                        <div class="limiter visible-desktop">
                            <label>Mostrando 1-12 de 54 resultados</label>
                        </div>
                        <ul class="dc_pagination dc_paginationA dc_paginationA06">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" class="current"></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!---->
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock body %}
