{% extends '::baseAdmin.html.twig' %}
{% block title %}Usuarios!!{% endblock %}
{% block active3 %}class="active"{% endblock active3 %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('credencial') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.log("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
<div class="content">
    <div class="container" style="height: auto;">
        <h1>Lista a Comprar</h1>

        <hr/>
        <table class="table table-bordered">
            <tbody>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>SubTotal</th>
            <th></th>
            </tbody>
            {% for car in car %}
                <tr>
                    <td>{{ car.producto }}</td>
                    <td>{{ car.producto }}</td>
                    <td>{{ car.cantidad }}</td>
                    <td>{{ car.precio }}</td>
                    <td>{{ car.total }}</td>
                </tr>
            {% endfor %}

        </table>
        <a href="{{ path('pdf') }}" title="Agregar" class="btn btn-success" style="width: 300px; height: 60px; margin: 0 auto 0 auto; font-size: 35px; background: dodgerblue">Generar Factura </a>
        -*-
        <a href="{{ path('venta') }}" title="Agregar" class="btn btn-success" style="width: 300px; height: 60px; margin: 0 auto 15px auto; font-size: 35px;">Finalizar Compra</a>
    </div>
</div>

{% endblock body %}
