{% extends '::base.html.twig' %}
{% block title %}Sistema Contable!!{% endblock %}
{% block active1 %}class="active"{% endblock active1 %}
{% block body %}

<div class="content">
    <div class="container">
        <div class="women-in">
            <div class="col-md-9 col-d">
                <div class="banner">
                    <div class="banner-matter">
                        <label>Promoción</label>
                        <h2>Raspberry Pi 2</h2>
                        <p>de publicidad</p>

                    </div>
                    <div class="you">
                        <span>40<label>%</label></span>
                        <small>desc.</small>
                    </div>
                    <p  class="para-in">...</p>
                </div>
                
                <div class="in-line">
                    <div class="para-an">
                        <h3>PRODUCTOS DESTACADOS</h3>
                        <p>Estos productos son asi y asa!.</p>
                    </div>
                    <div class="lady-in">
                        <div class="col-md-4 you-para">
                            <a href="single.html"><img class="img-responsive pic-in" src="{{ asset('images/pi.jpg')}}" alt=" " ></a>
                            <div class="you-in">
                                <span>15<label>%</label></span>
                                <small>desc.</small>
                            </div>
                            <p>Nombre del producto</p>
                            <span>$0.00  |{% if user %} <label class="cat-in"> </label> <a href="#">Añadir a carrito</a></span>{% endif %}
                        </div>
                        <div class="col-md-4 you-para">
                            <a href="single.html"><img class="img-responsive pic-in" src="{{ asset('images/pi4.jpg')}}" alt=" " ></a>
                            <div class="you-in">
                                <span>15<label>%</label></span>
                                <small>desc.</small>
                            </div>
                            <p>Nombre del producto</p>
                            <span>$0.00  | <label class="cat-in"> </label> <a href="#">Añadir a carrito</a></span>
                        </div>
                        <div class="col-md-4 you-para para-grid">
                            <a href="single.html"><img class="img-responsive pic-in" src="{{ asset('images/pi5.jpg')}}" alt=" " ></a>
                            <div class="you-in">
                                <span>15<label>%</label></span>
                                <small>desc.</small>
                            </div>
                            <p>Nombre del producto</p>
                            <span>$0.00  | <label class="cat-in"> </label> <a href="#">Añadir a carrito</a></span>
                        </div>


                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-m-left">
                <div class="in-left">
                    <p class="code">COLECCIÓN</p>
                    <div class="cool">
                    </div>
                </div>
                <div class="discount">
                    <a href="single.html"><img class="img-responsive pic-in" src="{{ asset('images/p2.jpg')}}" alt=" " >	</a>
                    <p class="no-more">Producto <b>exclusivo</b> <span>para ti!</span></p>
                    <a href="#" class="know-more">Obtener ahora</a>
                </div>
                <div class="discount">
                    <a href="single.html"><img class="img-responsive pic-in" src="{{ asset('images/p3.jpg')}}" alt=" " ></a>
                    <p class="no-more no-get">Obtener este <b>Producto</b> <span>Exclusivo</span></p>
                    <a href="#" class="know-more">Saber más</a>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="lady-in-on">
            <div class="buy-an">
                <h3>OTROS PRODUCTOS</h3>
                <p>Sobre los productos...</p>
            </div>
            <ul id="flexiselDemo1">
                <li><a href="#"><img class="img-responsive women" src="{{ asset('images/pic.jpg')}}" alt=""></a>
                    <div class="hide-in">
                        <p>Nombre del producto</p>
                        <span>$0.00  |  <a href="#">Comprar ahora </a></span>
                    </div></li>
                <li><a href="#"><img class="img-responsive women" src="{{ asset('images/pic1.jpg')}}" alt=""></a>
                    <div class="hide-in">
                        <p>Nombre del producto</p>
                        <span>$0.00  |  <a href="#">Comprar ahora </a></span>
                    </div></li>
                <li><a href="#"><img class="img-responsive women" src="{{ asset('images/pic3.jpg')}}" alt=""></a>
                    <div class="hide-in">
                        <p>Nombre del producto</p>
                        <span>$0.00  |  <a href="#">Comprar ahora </a></span>
                    </div></li>
                <li><a href="#"><img class="img-responsive women" src="{{ asset('images/pic4.jpg')}}" alt=""></a>
                    <div class="hide-in">
                        <p>Nombre del producto</p>
                        <span>$0.00  |  <a href="#">Comprar ahora </a></span>
                    </div></li>
                <li><a href="#"><img class="img-responsive women" src="{{ asset('images/pic2.jpg')}}" alt=""></a>
                    <div class="hide-in">
                        <p>Nombre del producto</p>
                        <span>$0.00  |  <a href="#">Comprar ahora </a></span>
                    </div></li>
            </ul>
            <script type="text/javascript">
                $(window).load(function() {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint:480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint:640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint:768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="{{ asset('js/jquery.flexisel.js')}}"></script>
        </div>
    </div>
</div>

{% endblock body %}
