{% extends '::baseAdmin.html.twig' %}
{% block title %}Usuarios!!{% endblock %}
{% block active3 %}class="active"{% endblock active3 %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('credencial') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.log("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
<div class="content">
    <div class="container" style="height: auto;">
        <h1>Administradores</h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('allUsuarios') }}">Todos</a>
            </li>
            <li>
                <a href="{{ path('crudUsuarios') }}">Usuarios</a>
            </li>

            <li class="active">Administradores</li>
        </ol>
        <a href="{{ path('nuevoAdmin') }}" title="Agregar" class="btn btn-success">Agregar Nuevo Administrador</a>
        <hr/>
        <table class="table table-bordered">
            <tbody>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Email
            </th>
            <th>
                Usuario
            </th>
            <th>
                Rol
            </th>
            <th style="text-align: center;">
                Acciones
            </th>
            </tbody>
            {% for admin in admin %}
                <tr>
                    <td>{{ admin.NombreUsu }}</td>
                    <td>{{ admin.ApellidoUsu }}</td>
                    <td>{{ admin.Correo }}</td>
                    <td>{{ admin.Usuario }}</td>
                    <td>Administrador</td>
                    <td style="text-align: center;">
                        <a href="{{ asset('app_dev.php/editarAdmin') }}/{{ admin.idUsuario }}" title="Editar" class="btn btn-default" style="background: #0AA5E2;color: #ffffff;">Editar</a>
                        -
                        <input class="btn btn-danger" type="button" value="Eliminar" onClick="confirmar()" />
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
    {% for admin in admin %}
    <script>

        function confirmar(){
            //un confirm
            alertify.confirm("<p>Esta seguro de eliminar el registro.<br><br><b>ENTER</b> y <b>ESC</b> corresponden a <b>Aceptar</b> o <b>Cancelar</b></p>", function (e) {
                if (e) {
                    location.href="{{ asset('app_dev.php/deleteAdmin') }}/{{ admin.idUsuario }}";
                } else { alertify.error("Has cancelado la operacion");
                }
            });
            return false
        }

    </script>
 {% endfor %}
{% endblock body %}
