{% extends '::baseAdmin.html.twig' %}
{% block title %}Inventario{% endblock %}
{% block active5 %}class="active"{% endblock active5 %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('fracaso') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.log("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notificacion') %}
        <script>
            window.onload = function alerta(){
                alertify.alert("Aun tienes {{ flashMessage }} unidades disponibles para vender", function () {
                   location.href="{{ path('inventario') }}";
                });
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notificacionfall') %}
        <script>
            window.onload = function alerta(){
                alertify.alert("{{ flashMessage }} <b> Por favor le recomendamos cargar mas productos al inventario</b>", function () {
                    location.href="{{ path('inventario') }}";
                });
            }
        </script>
    {% endfor %}
    <div class="content">
        <div class="container" style="height: auto;">
            <h1>Detalle de Inventario</h1>

            <hr/>
            <table class="table table-bordered">
                <tbody>
                <th>
                    Imagen
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>

                <th>
                    Costo Promedio
                </th>
                <th>
                    Stock Unidades
                </th>
                <th>
                   Estado
                </th>

                <th style="text-align: center;">
                    Acciones
                </th>
                </tbody>
                {% for inv in inventario %}

                    <tr>
                        <td style="text-align: center;"><img src="{{ asset(inv.idProducto.imagen) }}" alt="img1" style="width: 100px; height: 70px;"></td>
                        <td>{{ inv.idProducto.nombreProd }}</td>
                        <td>{{ inv.idProducto.descripcionProd }}</td>
                        <td>${{ inv.costoPromedio }}</td>
                        <td>{{ inv.cantidadDisponible }}</td>
                        <td>{% if inv.idProducto.estado()==1 %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <a href="{{ asset('app_dev.php/newInventario') }}/{{ inv.idProducto.idProducto }}" title="Editar" class="btn btn-default" style="background: #0AA5E2;color: #ffffff;">Cargar Inventario</a>
                            <a href="{{ asset('app_dev.php/verifinventario') }}/{{ inv.idInventario }}" title="Verificar" class="btn btn-danger" >Verificar Inventario</a>
                        </td>

                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

{% endblock body %}
