{% extends 'fbase.html.twig' %}
{% block stylesheets %}
    <link href="file:///c:/xampp/htdocs/sventas/web/css/bootstrap.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('credencial') %}
        <script>
            window.onload = function error(){
                alertify.error("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <script>
            window.onload = function notificacion(){
                alertify.log("{{ flashMessage }}.");
                return false;
            }
        </script>
    {% endfor %}
<div class="content">
    <div class="container" style="height: auto;">
        <h1>Lista de Clientes Activos</h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('allUsuarios') }}"></a>
            </li>

            <li>
                <a href="{{ path('crudAdmin') }}"></a>
            </li>

            <li class="active"></li>
        </ol>
        <hr/>
        <table class="table table-bordered">
            <tbody>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Email
            </th>
            <th>
                Usuario
            </th>
            <th>
                Rol
            </th>

            </tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.NombreUsu }}</td>
                    <td>{{usuario.ApellidoUsu }}</td>
                    <td>{{ usuario.Correo }}</td>
                    <td>{{ usuario.Usuario }}</td>
                    <td>
                        Cliente
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>
</div>
    {% for usuario in usuarios %}
        <script>

            function confirmar(){
                //un confirm
                alertify.confirm("<p>Esta seguro de eliminar el Usuario.<br><br><b>ENTER</b> y <b>ESC</b> corresponden a <b>Aceptar</b> o <b>Cancelar</b></p>", function (e) {
                    if (e) {
                        location.href="{{ asset('app_dev.php/deleteUsuario') }}/{{ usuario.idUsuario }}";
                    } else { alertify.error("Has cancelado la operacion");
                    }
                });
                return false
            }

        </script>
    {% endfor %}
{% endblock body %}
